.site-content {

  .logo {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    padding-bottom: clamp(15px, 2.615vw, 33px);
    padding-top: clamp(40px, 6.894vw, 87px);
    @include laptop {
      width: clamp(200px, 50.872vw, 642px);

    }
  }

  .main-title {
    // padding: Min(4.839vw,60px) 0 Min(3.226vw,40px) Min(3.226vw,40px);
    line-height: 120%;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(23px, 3.803vw, 48px);
    color: var(--color-a);
    // max-width: 487px;
    width: 100%;
    text-align: center;

    // b {
    //   font-weight: 700;
    // }


    // @include small-tablet {
    //   padding: 0;
    // }

    // @include mobile {
    //   text-align: center;
    //   width: 100%;
    // }
  }

  .main-subtitle{
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 300;
    font-size: clamp(20px, 2.377vw, 30px);
    line-height: 120%;
    text-align: center;
    color: var(--color-a);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    grid-gap: clamp(8px, 1.268vw, 16px);
    position: relative;

    svg{
      @include small-tablet{
        width: clamp(210px, 25.119vw, 317px);
      }
    }
  }

  .title {
    font-style: normal;
    font-weight: 700;
    font-size: clamp(23px, 4.032vw, 50px);
    line-height: 115%;
    font-family: var(--font-family);
    color: var(--color-a);
    text-transform: uppercase;
  }

  .subtitle {
    width: 100%;
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 700;
    font-size: clamp(20px, 2.536vw, 32px);
    line-height: 120%;
    color: var(--color-a);
    text-align: center;

    &--mode{
      color: var(--color-b);
    }

    &--default{
      text-align: start;
      text-transform: none;
    }
  }

  p {
    font-family: var(--font-family);
    font-style: normal;
    font-weight: 400;
    font-size: clamp(14px, 1.426vw, 18px);
    line-height: 125%;
    color: var(--color-a);
    max-width: 1020px;

    @include mobile {
      text-align: center;
    }
  }

  .border {
    background: var(--bg-b);
    border: 2px solid var(--bg-c);
    border-radius: clamp(30px, 4.478vw, 60px);
  }


  .white{
    position: relative;
    z-index: 1;
    &::after{
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: -100vw;
      right: -100vw;
      background-color: var(--bg-c);
      z-index: 0;
    }
  }


}

